*~
javascript/*.log
javascript/browser/n3*
javascript/node_modules
.idea/
*.iml
/**/node_modules/
/parsers/javascript-antlr/semacts/lib/ShExDoc.tokens
/parsers/javascript-antlr/semacts/lib/ShExDocLexer.tokens
gen/
.DS_STORE
parsers/cpp-yacc-parse-tree-XML/location.hh
parsers/cpp-yacc-parse-tree-XML/position.hh
parsers/cpp-yacc-parse-tree-XML/shex-parse-to-XML
parsers/cpp-yacc-parse-tree-XML/shex-parse-to-XMLParser.cc
parsers/cpp-yacc-parse-tree-XML/shex-parse-to-XMLParser.hh
parsers/cpp-yacc-parse-tree-XML/shex-parse-to-XMLParser.o
parsers/cpp-yacc-parse-tree-XML/shex-parse-to-XMLScanner.cc
parsers/cpp-yacc-parse-tree-XML/shex-parse-to-XMLScanner.o
parsers/cpp-yacc-parse-tree-XML/stack.hh
parsers/cpp-yacc-to-json/shex-to-json
parsers/cpp-yacc-to-json/shex-to-json.cc
parsers/cpp-yacc-to-json/shex-to-json.txt
parsers/cpp-yacc-to-json/shex-to-jsonParser.cc
parsers/cpp-yacc-to-json/shex-to-jsonParser.hh
parsers/cpp-yacc-to-json/shex-to-jsonParser.o
parsers/cpp-yacc-to-json/shex-to-jsonScanner.cc
parsers/cpp-yacc-to-json/stack.hh
